<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noteBook</title>
    <link rel="stylesheet" href="styles/output.css">
</head>
<body>
    <h1 class="text-red-600 text-4xl">Hello from noteBook</h1>
</body>
</html>